body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

// #root{
//   background-image: url(https://www.teahub.io/photos/full/177-1776886_anime-night-sky-stars-clouds-scenery-4k-anime.jpg);
//     background-attachment: fixed;
//     background-repeat: no-repeat;
//     background-size: cover;
//     width: 100%;
//     height: 100%;

// }

.sigmabox{
  background-color: #151515;
}